/*columnistas segunda parte*/
#todos h4 {
  color: #a09d9d; 
}

#todos .arrow {
  padding: 3%; 
}

#todos .bg-red {
  background-color: #B81901;
 }

#todos li {
  display: inline-block;
  padding: 3%; 
}

#todos li:hover {
    background-color: #D90000;
    border-radius: 50px;
    padding: 1% 3%; 
  }

#todos a {
  color: white;
  text-decoration: none; 
}



#todos .active {
  background-color: #811101;
  border-radius: 50px;
  padding: 1% 3%;
  color: white; 
}
#todos .bg-gray {
  background-color: #E2E6E9;
  width: 24%;
  height: 100px;
  padding: 2%;
  margin-right: 8px;
 }
  
#todos .bg-gray:hover {
    background-color: white;
    border: 1px solid #E2E6E9; 
  }

#todos .float {
  float: right;
  padding: 0; 
}

#todos .colum {
  border: 3px solid white; 
}

#todos .colum:hover {
    border: 3px solid #E2E6E9; 
}

#todos .top {
  margin-top: 1%; 
}

#todos p {
  font-weight: bolder;
  font-size: 12px; 
}

#todos .txt-gray {
  color: #949799;
  font-size: 15px; 
}

@media(min-width: 320px){
  .todos
}

/*footer*/
