* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
/*Noticias Principales*/
 h1 a {
	color: black;
}

a {
	color: white;
}

a .car{
	color:red;
}
 h1 a:hover{
 	color:black;
 }

.noticias1{
	position: absolute;
}

.texto-grande{
	text-shadow: 0.1em 0.1em 0.05em black;
	position: relative;
	margin: right;
	padding: 350px 0px 0px 20px;
}

.texto-grande a:hover{
	color: white;
}

.noticias1-1{
	background-image: url(../image/img_grid_secundario.jpg);
	width: 100%;
	height: 250px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.texto1{
	text-shadow: 0.1em 0.1em 0.05em black;
	position: relative;
	margin: right;
	padding: 0px 50px 0px 0px;
}

/*Noticias Destacadas 2*/
.cajantc{
border:1px solid black;
width:100%;
text-align: center;
}

.cajantc h4{
	color:red;
}

.imgnoticias2{
	background-image: url("../image/img_especiales.jpg");
	width: 100%;
	height:  210px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.textntc2 h3{
	color: white;
	text-align: left;
	margin-top: 20px;
	float: bottom;
}

