.background-pregunta {
  background-image: url("../image/trama_square.jpg");
  height: 18%;
}

.background-white {
  background-color: #FFF;
  height: 550px;
  margin: 20px 20px 20px 20px;
}

.img-pregunta {
  margin-top: -20px
}

.progress {
  height: 30px;
  margin-bottom: 20px;
  background: url("../image/barprogress_bg.jpg") repeat;
  overflow: hidden;
}
.progress .value {
  color: #111417;
  text-align: center;
  font-size: 15px;
  font-weight: 400; 
  color: #111417;
  text-align: center;
  height: 40px;
  padding: 5px; 
}

.btn {
  margin-top: 3%;
  margin-bottom: 3%;
}
.text-center-p {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .background-white {
    height: 300px;
  }
}

@media screen and (min-width:992px) {
   .background-white {
    height: 550px;
  }
}
  
